<body>
<div class="container">
    <h1>3 LUGARES QUE RECOMIENDO</h1>
  
    <div class="places-section">
      <div class="place">
        <h2>MONTEIK</h2>
        <p>
          Monteik es un parque ecológico que se encuentra en el periférico sur de
          San Cristóbal de las Casas. Aquí te sentirás muy lejos del bullicio y
          contaminación de la ciudad. Hay hermosos árboles altos, y otras plantas
          silvestres.
        </p>
        <img src="assets/imagenes/imagenMont.jpg" alt="Monteik" />
      </div>
  
      <div class="place">
        <h2>ANDADOR GUADALUPANO</h2>
        <p>
          El andador que transité fue el Guadalupano, por este andador se llega al
          Templo Real de Guadalupe. Es como el hijo del Andador Eclesiástico ya
          que se construyó en el año 2011 y se ubicó sobre la calle Real de
          Guadalupe.
        </p>
        <img src="assets/imagenes/imagenAndador.webp" alt="Andador Guadalupano" />
      </div>
  
      <div class="place">
        <h2>MERCADO DE LOS DULCES</h2>
        <p>
          Este es el lugar al que tienes que acudir para conseguir productos
          típicos de la localidad. En sus coloridos pasillos encontrarás calzado,
          ropa, collares, cinturones, pulseras y todo tipo de objetos elaborados
          por gente de la localidad y comunidades aledañas.
        </p>
        <img src="assets/imagenes/mercadoDul.avif" alt="Mercado de los Dulces" />
      </div>
    </div>
  
    <div class="recommendation">
      <p>
        Esto seria mi recomendacion de los lugares donde podrias ir a turistiar en san cristobal claramente hay mas lugares pero para mi esos son unos de los lugares indespensables 
      </p>
    </div>
  
    <div class="comments-section">
      <h2>Comentarios</h2>
      <textarea placeholder="Escribe tus comentarios aquí..."></textarea>
    </div>
  </div>
</body> 
