<body>
    <header>
        <div id="tituloPrincipal">
            <h1 id="titulo1">Lugares turisticos de San Cristobal</h1>
        </div>
    </header>
    <div id="main-container">
        <!-- Section 1 -->
        <div id="section1">
            <h2 id="titulo2">PLAZA SAN AGUSTIN</h2>
            <img id="imagen-plaza" src="./assets/imagenes/plazaAg.jpg" alt="Plaza San Agustin">
            <p id="descripcion-plaza">
                La esquina San Agustin es una plaza donde podrás encontrar restaurantes muy variados en un ambiente acogedor y con una hermosa decoración. El lugar es muy amplio y está dividido en diversos restaurantes.
            </p>
            <button id="btn-plaza">SABER MAS SOBRE EL LUGAR</button>
        </div>

        <!-- Section 2 -->
        <div id="section2">
            <h2 id="titulo-catedral">CATEDRAL</h2>
            <img id="imagen-catedral" src="./assets/imagenes/imagenCa.jpg" alt="Catedral de San Cristobal">
            <p id="descripcion-catedral">
                La iglesia original fue modificada y en parte reconstruida en el siglo XVII y su fachada actual data del siglo XVIII. La fachada principal tiene un claro estilo barroco con tres cuerpos horizontales y tres calles verticales.
            </p>
            <button id="btn-catedral">SABER MAS SOBRE EL LUGAR</button>
        </div>

        
        <div id="section3">
            <h2 id="titulo3">IGLESIA DE GUADALUPE</h2>
            <img id="imagen-gua" src="./assets/imagenes/igleseGu.jpg" alt="iglesia guadalupe">
            <p id="descripcion-gua">
                Para llegar se asciendan 79 escalones por lo tanto se aprecia una inigualable vista panorámica de la ciudad. En el altar principal se localiza un lienzo en excelentes condiciones de la Virgen de Guadalupe y en la capilla lateral permanece una imagen esculpida de la misma en 1850.
            </p>
        </div>
    </div>
</body>
