<body>
    <header>
        <div id="tituloPrincipal">
            <h1 id="titulo1">Lugares turisticos de san Cristobal </h1>
        </div>
    </header>
    <div id="main-container">
        <div id="section1">
          <h2 id="titulo2">PLAZA SAN AGUSTIN</h2>
          <img id="imagen-plaza" src="./assets/imagenes/plazaAg.jpg" alt="Plaza San Agustin">
          <p id="descripcion-plaza">
            La esquina San Agustin es una plaza donde podrás encontrar restaurantes muy variados en un ambiente acogedor y con una hermosa decoración. El lugar es muy amplio y está dividido en diversos restaurantes.
          </p>
          <button id="btn-plaza">SABER MAS SOBRE EL LUGAR</button>
        </div>
      
        <div id="section2">
          <h2 id="titulo-catedral">CATEDRAL</h2>
          <img id="imagen-catedral" src="./assets/imagenes/imagenCa.jpg" alt="Catedral de San Cristobal">
          <p id="descripcion-catedral">
            La iglesia original fue modificada y en parte reconstruida en el siglo XVII y su fachada actual data del siglo XVIII. La fachada principal tiene un claro estilo barroco con tres cuerpos horizontales y tres calles verticales.
          </p>
          <button id="btn-catedral">SABER MAS SOBRE EL LUGAR</button>
        </div>
      </div>
</body>

